@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
.banner {
  height: 70vh;
  background-image: url(/assets/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-title {
  font-family: "Berkshire Swash", cursive;
  color: #ff5e19;
}

.mbappe-pic {
  position: absolute;
  left: 1px;
  bottom: 0;
}
.messi-pic {
  position: absolute;
  top: 25px;
  right: 80px;
}
.football-bg {
  position: absolute;
  right: 1px;
  bottom: 0;
}
.football {
  position: absolute;
  right: 1px;
  bottom: 0;
}
